body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
/* banner styles */

.btn-2{
    background-color: rgb(13, 19, 33);
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 8px;
    text-decoration: none;
    
    
}
/* button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

*/
.banner-title{
    text-align: center;
}
.banner-description{
    font-size: 20px;
    color: #757575;
    text-align: center;
}



/* Nav styles */
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}
/* shared style */
.btn-primary{
    background-color: white;
    font-weight: 400;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    padding: 20px 28px;
    border-radius: 5px;
}  

/* header */
 header{
    background-image: url('../assets/Hero-bg.png');
    
}


/* main styles */

.about-section {

    background: rgba(13, 19, 33, 0.02);
    margin: 80px 100px;
}
.about-section-title {
    text-align: center;
padding: 30px;
}
.about-section-1 {
    display: flex;
    justify-content: space-around;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    }
.card-1 {
    border: 5px solid;
}
.support-section-img {
    border-radius: 16px;
}

.support-section-text {
    position: relative;
    top: -500px;
    color: aliceblue;
}
/* sections style */
.section-description {
    color: rgb(13, 19, 33);
}
.input-field {
    display: flex;
}
.footer-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-around;
    align-items: center;
}